data/raw/
data/processed/bixi_trip_data.parquet
data/processed/bixi_trip_data_2025.parquet
data/processed/forecasting_df.parquet
models/rf_*.pkl

!data/processed/model_df.parquet
!data/processed/forecast_2025.parquet
!data/processed/weather_data.parquet
!data/processed/weather_data_2025.parquet

__pycache__/
*.py[cod]
.ipynb_checkpoints/
venv/
.env
Thumbs.db
Desktop.ini
.DS_Store

